* {
  margin: 0;
}
a {
  margin: 0px 10px;
}
a:hover {
  color: red;
}
header {
  background-color: rgb(44, 179, 246);
  color: aliceblue;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}
h3 {
  margin-bottom: 10px;
}

nav {
  border: 1px solid aliceblue;
  padding: 0px 7px;
}
